<!--  3-parent-to-child-child-to-parent-data-transfer -->
<h1><label for="emial"> This is Parent component:<input type="email" name="email" id="email" #event (keyup)="0"> </label></h1>
<h1><label for="name">give name from parent<input type="text" name="name" id="name"#name (keyup)="0"></label></h1>
<home [child]="event.value"></home>
<home [values]="name.value"></home>

<div>
    <a [routerLink]='["/home"]'>home</a><br>
    <a [routerLink]='["/footer"]'>footer</a><br>
    <a [routerLink]='["/header"]'>header</a>
    <router-outlet></router-outlet>
</div>
main
